/*Esconder o olho nativo no Microsoft Edge nos campos type="password"*/
input::-ms-reveal, input::-ms-clear {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 244px;
}

.footer-main {
    min-height: calc(100vh - 430px);
}

.no-wrap {
    white-space: nowrap;
}

.z-index--1 {
    z-index: -1;
}

.linha {
    margin: 0;
    height: 3px;
    border-width:0;
    background-color: #C1C7D0;
    transform: translateY(17px);
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 3px solid #C1C7D0;
    background-color: #f8f8fb;
    border-radius: 50%;
}

.step-active {
    display: flex;
    background-color: #5D15D3;
    min-height: 16px;
    min-width: 16px;
    border-radius: 50%;
}



@media (min-width: 992px) {
    .offset-lg-1ponto5 {
        margin-left: 12.5%;
    }
}

#eye {
    cursor: pointer;
}

.application-offset .container-application:before {
    height: 340px;
}


.card-text {
    font-size: 0.85rem;
}

small.text-muted {
    font-size: 0.6rem;
}

.animal-img {
    height: 125px;
    object-fit: cover;
}

.avatar-xs {
    width: 25px;
    height: 25px;
}

.hover-animation {
    transition: all ease-in-out 250ms;
}

.hover-animation:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.line-height-9 {
    line-height: 0.9;
}

.line-height-3 {
    line-height: 0.3;
}

.list-registros-item:first-child {
    margin-bottom: 1rem;
}

.list-registros-item:last-child {
    margin-top: 1rem;
}

.list-registros-item:not(:last-child, :first-child) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control:focus {
    border-color: #E0E6ED;
}

.text-normal {
    color: #aabacd;
}

.search-bar {
    margin-top: -12px;
    margin-bottom: -12px;
}

.widget-calendar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 490px;
}

.btn-evento {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.versao-de-teste {
    margin-left: -25px;
    margin-right: -25px;
}

.card-animal-body {
    padding: 1rem 1.5rem
}

.bg-bright {
    background-color: #FBFCFD;
}

.search-input::placeholder {
    font-size: 0.85rem;
}

.font-size-icon {
    font-size: 13px !important;
}

.hover-img-animation {
    transition: all ease 250ms;
}

.card-img-overlay {
    max-height: 125px;
    transition: all 250ms ease;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(110, 0, 255, 0.7));
}

.card-img-overlay:hover {
    opacity: 1;
}

.card-img-overlay:hover ~ .hover-img-animation {
    filter: blur(2px);
}

.widget-calendar-day-2 {
    text-transform: capitalize;
}